@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,500;1,100&display=swap');


body, html {
  background-color: #e4e4e4;
  font-family: 'Montserrat', sans-serif !important;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif !important;
}

.bg-white{
  background-color: #fff;
}

.flex {
  display:flex;
}
.flex-column {
  flex-direction:column;
}
.justify-center {
  justify-content:center;
}
.items-center {
  align-items:center;
}

.h-screen {
  height:100vh;
}

.w-400{
  width: 400px;
}

.p1 {
  padding: 10px;
}

.p2 {
  padding: 20px;
}
.p3 {
  padding: 30px;
}

input {
  height: 45px !important;
  border: 1px solid #909090;
  width: 100%;
}

input:focus {
  outline: none;
  border: 1px solid #494949;
}

.contained-btn {
  height: 45px !important;
  border-radius: 0 !important;
  background-color: black !important;
  color: white !important;
  text-transform: uppercase;
  width: 100%;
}

.outlined-btn {
  height: 45px !important;
  border-radius: 0 !important;
  background-color: white !important;
  color: black !important;
  text-transform: uppercase;
  border: 1px solid black;
  width: 100%;
}